body{
	background: #C0C0C0;
	font-family: "Times New Roman";
}
#header{
	height: 200px;
	margin-top: 20px;
	position: relative;
}
#header img{
	height:180px;
	position:absolute;
	left:20%;
	top:10px;
	border-radius: 30px;
}
#header p{
	font-size:400%;
	position:absolute;
	left:35%;
}
#main{
	height: 120px;
	margin-top: 20px;
	margin-right: 20%;
	margin-left: 20%;	
}
#main ul{
	list-style: none;
	font-size: 20px;
	position:absolute;
}
#main ul li:nth-child(1){
	margin-left: 9px;
}
#main ul li:nth-child(2){
	margin-left: 9px;
}
#main ul li:nth-child(3){
	margin-left: 9px;
}
#main ul li:nth-child(4){
	margin-left: 9px;
}
#phone{
	margin-left: 10px;
}
#email{
	width: 7%;
}
#footer{ 
	height: 370px;
	margin-top: 20px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 50px;
}
#footer ul{
	list-style: none;
}
